body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 25px ;

}

#menu{
    list-style: none;
    padding: 0;
    margin: auto;
    width:  50%;
    
}


p{
    font-family: "noto sans", sans-serif;
    font-weight: 400;
    font-style: normal;
text-align: center;}

#menu li{
    display: inline;
    margin: 50px;
    padding: 50px 15px; 
  
}

#derecha p{
    font-size:120%;
    
    }
#izquierda img{
    width: 100%;
  
}

#h1,h2 {
    text-align: center;
}

table,td,th{
        
    border: 2px dotted rgba(244, 244, 247, 0.801);    
    
    background-color: rgb(156, 163, 163);
   
    }

    td,th{
        padding: 10px; 
        text-align:center;
    }
    table{margin: auto;}

 
